* {
  box-sizing: border-box;
}

:root {
  --cell-size: 90px;
  --cell-padding: 4px;
  --board-size: 4;
  --board-width: calc(
    var(--board-size) * var(--cell-size) + (2 * (var(--board-size) + 1)) *
      var(--cell-padding)
  );

  --app-padding: 16px;
  --app-width: calc(var(--board-width) + 2 * var(--app-padding));
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.app {
  max-width: var(--app-width);
  padding: var(--app-padding);
}
