* {
  box-sizing: border-box;
}

:root {
  --cell-size: 90px;
  --cell-padding: 4px;
  --board-size: 4;
  --board-width: calc(var(--board-size) * var(--cell-size) + (2 * (var(--board-size) + 1)) * var(--cell-padding));

  --app-padding: 16px;
  --app-width: calc(var(--board-width) + 2 * var(--app-padding));
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.app {
  max-width: var(--app-width);
  padding: var(--app-padding);
}

.header {
  display: flex;
  flex-direction: row;
}

.header-title {
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
}

.header-stats {
  /* background-color: #bbad; */
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
}

.header-stats-cell {
  /* color: white; */
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-stats-cell + .header-stats-cell {
  margin-top: 4px;
}

.commands {
  display: flex;
  justify-content: flex-end;
  margin: 8px 0;
}

.commands button + button {
  margin-left: 8px;
}

.board {
  border-radius: 8px;
  background-color: #776e65;
  padding: var(--cell-padding);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.board-cell {
  padding: var(--cell-padding);
}

.board-cell-content {
  border-radius: 8px;
  background-color: rgba(238, 228, 218, 0.35);
  color: #776e65;
  min-width: var(--cell-size);
  min-height: var(--cell-size);
  width: var(--cell-size);
  height: var(--cell-size);
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-0 {
  background-color: #eee4da;
}

.cell-2 {
  background-color: #eee4da;
}

.cell-4 {
  background-color: #eee1c9;
}

.cell-8 {
  color: #f9f6f2;
  background-color: #f3b27a;
}

.cell-16 {
  color: #f9f6f2;
  background-color: #f69664;
}

.cell-32 {
  color: #f9f6f2;
  background-color: #f77c5f;
}

.cell-64 {
  color: #f9f6f2;
  background-color: #f75f3b;
}

.cell-128 {
  color: #f9f6f2;
  background-color: #edd073;
  font-size: 36px;
}

.cell-256 {
  color: #f9f6f2;
  background-color: #edcc62;
  font-size: 36px;
}

.cell-512 {
  color: #f9f6f2;
  background-color: #edc950;
  font-size: 36px;
}

.cell-1024 {
  color: #f9f6f2;
  background-color: #edc53f;
  font-size: 24px;
}
